name: build-and-test
on:
  push:
    branches: [main]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  merge_group:
  pull_request:

permissions: read-all

jobs:
  publish-dev:
    permissions: write-all
    runs-on: ubuntu-24.04
    if: (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v'))
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./.github/actions/setup-go-tools
        with:
          go-version: oldstable
          gomoddownload: "false"
          install-tools: "false"
      - name: Mkdir bin and dist
        run: |
          mkdir bin/ dist/
      - name: Login to ghcr
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Docker Image
        run: |
          make genotelcontribcol
          make docker-otelcontribcol
      - name: Push Docker Image
        run: |
          docker tag otelcontribcol:latest ghcr.io/rndmit/opentelemetry-collector-contrib/otelcontribcol:latest
          docker push ghcr.io/rndmit/opentelemetry-collector-contrib/otelcontribcol:latest
